.statistics {
  width: 450px;
  margin: 0px auto;
  background-color: #f0f3f6;
  text-align: center;
  box-shadow: 1px 1px 3px 1px rgba(191, 205, 222, 0.75);
  margin-bottom: 100px;
}

.statsTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  line-height: 100px;
  background-color: #fff;
}

.statList {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.statsItem {
  width: 90px;
  height: 90px;
}

.label {
  padding-top: 15px;
  margin-bottom: 10px;
  display: block;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.percentage {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
